.sky {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(138deg, rgba(0,132,130,1) 0%, rgba(39,28,65,1) 47%, rgba(0,2,97,1) 100%);
  background-image: url("/nightSky.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  position: absolute;
  top: 0px;
}

.fog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.001);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.001);
  z-index: -1;
  position: absolute;
  top: 0px;
}