@font-face {
  font-family: 'Pixelated';
  src: url('/LcdSolid.ttf') format('woff2')
}

@font-face {
  font-family: 'Clock';
  src: url('/Clock.ttf') format('woff2')
}

@font-face {
  font-family: 'Motor';
  src: url('/ShareTechMono-Regular.ttf') format('woff2')
}

.Allwrapper {
  position: absolute;
  width: 35vw;
  height: 50vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%);
  animation: floatAnimation 3s infinite alternate;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TVwrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(98,98,98,1) 20%, rgba(0,0,0,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px -9px 8px 2px rgba(0,0,0,1);
}

.TVborder {
  width: 90%;
  height: 90%;
  background-image: url("/static.gif");
  border-radius: 30px;
  opacity: 0.5;
  position: absolute;
  overflow: hidden;
}

.TVdetails {
  width: 92%;
  height: 92%;
  background: whitesmoke;
  border-radius: 30px;
  opacity: 0.1;
  position: absolute;
}

.TVscreen {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  opacity: 0.9;
  pointer-events: none;
  background-size: 100% 100%;
  background-position: center;
}

.TVscanlines {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: repeating-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 2px, transparent 2px, transparent 4px); /* Gradiente para las líneas de escaneo */
  animation: scanLinner 0.5s linear infinite;
  pointer-events: none;
}

.TVchannel {
  position: absolute;
  /* background-color: green; */
  top: 5%;
  right: 5%;

  width: 100px;
  height: 30px;

  text-align: end;

  color: #6cd354;
  font-family: 'Pixelated';
  font-size: 25px;
  text-shadow: black 0px 0px 3px;
  pointer-events: none;
}

.TVTitle {
  position: absolute;
  top: 5%;
  left: 5%;

  width: 90px;
  height: 30px;


  color: #6cd354;
  font-family: 'Pixelated';
  font-size: 25px;
  text-shadow: black 0px 0px 3px;
  pointer-events: none;
}

.TVShow {
  position: absolute;
  bottom: 5%;
  left: 5%;

  width: auto;
  height: 30px;


  color: #6cd354;
  font-family: 'Pixelated';
  font-size: 25px;
  text-shadow: black 0px 0px 3px;
  pointer-events: none;
}

.VHSWrapper {
  position: absolute;
  bottom: -10vh;
  width: 35vw;
  height: 10vh;
  background: black;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(61,61,61,1) 0%, rgba(0,0,0,1) 100%);
  border-radius: 10px;
  /* box-shadow: 0px -7px 4px -2px rgba(0,0,0,0.73); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: inset 0px 4px 24px -2px rgba(255,255,255,0.2); */
}

.VHSdecoration {
  width: 98%;
  height: 90%;
  background-color: rgb(0,0,0);
  border-radius: 10px;
  /* border: 2px solid #aaa; */
  opacity: 0.8;
  box-shadow: inset 0px 4px 24px -2px rgba(255,255,255,0.2);
}

.VHSreproductor {
  background: #000;
  border-top: 0px solid #000;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 3px solid #111;
  width: 30%;
  height: 40%;
  position: absolute;
  border-radius: 5px;
  opacity: 0.5;
  box-shadow: inset 0px 4px 24px -2px rgba(255,255,255,0.3);
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.5px;
  pointer-events: none;
  color: rgba(255,255,255,0.5);
  font-size: 15px;
  font-family: 'Motor';
  font-weight: bold;
}

.VHSText {
  background-color: black;
  width: 25%;
  height: 38%;
  position: absolute;
  border-radius: 3px;
  left: 5%;
  color: #29641c;
  font-size: 8px;
  font-family: 'Clock';
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 7px;
  overflow: hidden;

}

.VHSGlass {
  opacity: 0.08;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background: linear-gradient(42deg, rgba(0,0,0,1) 57%, rgba(255,255,255,1) 76%, rgba(0,0,0,1) 86%);
}

.VHSbuttons {
  position: absolute;
  right: 5%;
  width: 25%;
  height: 38%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: white; */
}

.VHSButton {
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 50%;
  display: block;
  background: radial-gradient(circle, rgba(104,104,104,0.7) 0%, rgba(66,66,66,0.8) 17%, rgba(0,0,0,0.9) 71%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid rgb(31, 31, 31);

  transition: opacity 0.1s, width 0.4s, height 0.4s;

  svg {
    width: 50%;
    fill: whitesmoke;
    stroke: whitesmoke;
    opacity: 0.7;
    transition: stroke 0.4s, stroke-width 0.1s, opacity 0.2s;
  }
}

.VHSButtonLight {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(104,104,104,1) 0%, rgba(66,66,66,1) 17%, rgba(0,0,0,0.9) 71%);
  opacity: 0;
  transition: opacity 0.4;
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgb(31, 31, 31);
}

.VHSButton:disabled {
  pointer-events: none;
  opacity: 0.5;

  svg {
    opacity: 0.0;
  }
}

.VHSButton:hover {

  svg {
    stroke-width: 5px;
    opacity: 0.9;
  }

  .VHSButtonLight {
    opacity: 1;
  }
}

.VHSButton:active {
  opacity: 0.5;

  svg {
    stroke-width: 1px;
  }
}

.VHSButtonRight {
  right: 1%;
}

.VHSButtonLeft {
  left: 1%;
}

.VHSButtonPlay {
  left: 50%;
  transform: translateX(-50%);
}


@keyframes floatAnimation {
  0% { transform: translate(-50%, -50%) translateY(0); }
  50% { transform: translate(-50%, -50%) translateY(-10px); }
  100% { transform: translate(-50%, -50%) translateY(0); }
}

@keyframes scanLinner {
  0% { background-position-y: 0px; }
  100% { background-position-y: 15px; }
}